<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYTDfiI6INlrQp2hXMiKhWSFl9bzEFZCI</string>
	<key>GCM_SENDER_ID</key>
	<string>672643250416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unificars.liveauctions</string>
	<key>PROJECT_ID</key>
	<string>unifi-cars</string>
	<key>STORAGE_BUCKET</key>
	<string>unifi-cars.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672643250416:ios:50e7e9737cb0af1e27aa35</string>
</dict>
</plist>